<div>
    <h1>Test Header</h1>
<app-header></app-header>
<router-outlet>
</router-outlet>
</div>

<!--two ways to execute a component,
1. use selector you can use a tag like like <app-home></app-home> in any HTML Page
2. use Routing, we can specify which component to execute for which URL inside our app-routing .modules-->

